@tailwind base;
@tailwind utilities;
@tailwind components;

html {
  overflow: hidden;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: theme('colors.rotion[800]');
}

*::-webkit-scrollbar-thumb {
  background-color: theme('colors.rotion[600]');
}